flask==3.0.0

npmai

langchain
langchain-community
langchain-text-splitters
langchain-classic

faiss-cpu
sentence-transformers

huggingface-hub

pymupdf
pdf2image
pytesseract
Pillow

opencv-python-headless

moviepy

openai-whisper

yt-dlp
